<footer class="w-full bg-gray-100 flex justify-between items-center px-10" style="height:10%">
  <div>
    <p class="font-bold text-lg text-green-600">LA MAISON DES PLANTES</p>
    <p class="text-base text-green-600">1 rue des plantes 75001 Paris</p>
  </div>
  <div>
    <%= mail_to "contact@la-maison-des-plantes.fr", class: " font-bold text-green-600" %>
  </div>
</footer>
