<main class="w-screen mt-4">
  <header class="w-10/12 mx-auto bg-green-100 border rounded p-2">
    <h1 class="italic font-bold text-xl">Bienvenue à la Maison des Plantes</h1>
    <p class="mt-2 text-lg">Choisissez vos plantes parmi les 500 variétés proposées par notre magasin !</p>
  </header>
  <section id="home" class="w-10/12 mx-auto mt-4 bg-gray-100 border rounded p-2"></section>
</main>
